.jumbo {
  background: linear-gradient(to bottom right, #a6dbed, #e95aae);
  /* min-height: 100vh; */
}

#jumbo-last {
  font-family: "Fira Sans";
  font-weight: 500;
  background: #5d5fef;
  border-radius: 6px;
  color: #ffffff;
  line-height: 18px;
  font-size: 17px;
  letter-spacing: -0.015em;
  /* padding-bottom: -5px; */
  padding-top: 9px;
}

#jumbo-last:hover {
  border: #5d5fef;
  background: #3235bd;
}

.jumbo-content {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.one {
  margin-left: 4rem;
  /* order: 1; */
  /* width: 40%; */
}

.two {
  /* order: 1; */
  /* width: 50%; */
}

.jumbo-img-1 {
  width: 50%;
}

.jumbo-new-img {
  /* height: 80vh; */
}

.header-1 {
  /* width: 100%; */
  font-size: 3rem;
  letter-spacing: -0.015em;
  color: #0a086a;
}

.jumbo-down-btn {
  border: none;
  margin-top: 1rem;
  width: 192px;
  height: 52px;
  background: #0a086a;
  border-radius: 6px;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.015em;
  color: #ffffff;
}

.navbar-brand img {
  margin-right: 1rem;
}

.btn-nav {
  color: #0a086a;
}

.navbar-brand span {
  font-weight: 700;
}

/* .first-section {
    background: url(../public/img/positions.PNG);
    background-repeat: no-repeat;
    /* height: 70rem; */
/* background-position: center;
    background-size: cover;
    height: 600px;
} */

.second-section {
  /* height: 500px; */
  background: linear-gradient(to bottom right, #e95ab9, #2952a9, #100170);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.015em;
  color: #ffffff;

  /* Body P */
  /* font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px; */
  /* line-height: 30px; */
  /* or 167% */
  letter-spacing: -0.015em;

  /* color: rgba(255, 255, 255, 0.8); */
}

.second-sec-content {
  justify-content: center;
  align-items: center;
}

.sec-head-3 {
  font-family: "Fira Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.015em;
  color: #ffffff;
}

.sec-paragraph {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: rgba(255, 255, 255, 0.8);
}

.third-section {
  background: #efefef;
  height: 28rem;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  /* line-height: 92px; */
  letter-spacing: -0.015em;
  color: #0a086a;
}

.third-sec-container {
  display: block;
  padding-top: auto;
}

.third-sec-container p {
  font-family: "Fira Sans" !important;
  font-weight: 500 !important;
}

.forth-section {
  background-image: url(../public/img/meshONE.png);
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: cover; */
}

.forth-sec-content {
  padding-top: 3rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forth-sec-btn {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
  border: none;
  background: #0a086a;
  border-radius: 6px;
  font-family: "Fira Sans";
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  color: #ffffff;
  padding: 0.6rem 1.5rem;
}

.forth-cont-paragraph {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  /* line-height: 92px; */
  letter-spacing: -0.015em;
  color: #0a086a;
}

.fift-section-cont {
  padding: 3rem 0 2rem 0;
  display: flex;
  justify-content: space-between;
}

.fift-section-p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
}

.fift-sect-1-btn {
  border: none;
  padding: 0.6rem 1.5rem;
  background: #18a0fb;
  border-radius: 6px;
  margin-right: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: -0.015em;
  color: #ffffff;
}

.fift-sect-2-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 0.6rem 1.5rem;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #18a0fb;
  border-radius: 6px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: #18a0fb;
}

.mobile-menu {
  display: none;
  font-size: 2rem;
}

#desktop-nav {
  display: flex;
}

.desktopnav-class button {
  display: flex !important;
}

.sixth-sec p {
  font-family: "Fira Sans" !important;
  font-weight: 700 !important;
}

/* Media Query */

@media screen and (max-width: 800px) {
  .navbar > .container-fluid {
    flex-wrap: nowrap !important;
  }

  .header-1 {
    font-size: 1.5rem;
  }

  .sec-head-3 {
    font-size: 1.3rem;
  }

  .sec-paragraph {
    font-size: 0.8rem;
  }

  .sec-img {
    padding-right: 1rem;
  }

  .third-section {
    height: 24rem;
    margin-top: -0.2rem;
  }

  .third-sec-container {
    font-family: "Fira Sans";
  }

  .third-sec-container p {
    font-family: "Fira Sans";
    margin: 1rem;
  }
  .second-section {
    height: 20rem;
    padding-top: 2.5rem;
  }
  .third-sec-container p {
    font-size: 1.2rem;
  }

  .jumbo-down-btn {
    height: 36px;
    font-size: 15px;
    width: 190px;
  }

  .navbar-brand img {
    /* margin-left: -1rem; */
  }

  .forth-cont-paragraph {
    font-size: 1rem;
    margin-right: 4rem;
    width: 17rem;
  }

  .forth-sec-img {
    max-width: 80%;
  }

  .fift-section-p {
    font-size: 1rem;
    line-height: 20px;
  }

  .fift-sect-1-btn {
    margin-right: -5rem;
    font-size: 15px;
    line-height: 12px;
  }

  .fift-sect-2-btn {
    margin-top: 1rem;
    /* margin-right: -5rem; */
    font-size: 15px;
    line-height: 12px;
  }

  .sixth-sec {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
  }

  .sixth-sec p {
    padding: 0.6rem;
  }
}
/* max of 600 */

@media screen and (max-width: 600px) {
  .one {
    order: 1;
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
    margin-top: -1rem;
    margin-left: 1rem;
  }

  .dropdown {
    padding: 1px 5px;
  }

  .header-1 {
    font-size: 2rem;
  }
  .jumbo-new-img {
    margin-left: -1rem;
  }

  .forth-sec-btn {
    padding: 4px 6px;
  }

  .forth-cont-paragraph {
    width: 30rem;
    margin: 0 1.5rem;
  }

  .forth-sec-img {
    max-width: 100%;
  }
  .p-last {
    font-size: 0.6;
  }
}

/* max of 450px */

@media screen and (max-width: 450px) {
  .btn-nav {
    padding: 1px 5px;
  }

  .sec-head-3 {
    font-size: 1.3rem;
    line-height: 19px;
  }

  .sec-paragraph {
    padding-top: 3px;
    /* font-size: 1rem; */
    line-height: 20px;
  }

  .sec-img {
    padding-right: 0.2rem;
    max-width: 120%;
  }

  .jumbo-down-btn {
    height: 30px;
    font-size: 13px;
    width: 150px;
  }

  .navbar-brand img {
    width: 100%;
  }

  .forth-cont-paragraph {
    font-size: 1rem;
    margin-right: 2rem;
    /* width: 26rem; */
  }

  /* .forth-sec-img {
        max-width: 80%;
    } */

  .fift-section-cont {
    flex-direction: column;
    align-items: center;
  }

  .fift-section-p {
    font-size: 1rem;
    line-height: 26px;
    padding-left: 10px;
  }

  .fift-sect-1-btn {
    margin: 1rem;
    /* font-size: 15px;
        line-height: 12px; */
  }

  /* .fift-sect-2-btn {
        margin-top: 1rem;
        font-size: 15px;
        line-height: 12px;
    } */

  /* .sixth-sec {
        display: flex;
        flex-wrap: wrap;
    } */

  /* .sixth-sec p {
        padding: 0.6rem;
    } */
}
