.jumbo {
  background: linear-gradient(to bottom right, #a6dbed, #e95aae);
  /* min-height: 100vh; */
}

#jumbo-last {
  font-family: "Fira Sans";
  font-weight: 500;
  background: #5d5fef;
  border-radius: 6px;
  color: #ffffff;
  line-height: 18px;
  font-size: 17px;
  letter-spacing: -0.015em;
  /* padding-bottom: -5px; */
  padding-top: 9px;
}

#jumbo-last:hover {
  border: #5d5fef;
  background: #3235bd;
}

.jumbo-content {
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.one {
  margin-left: 4rem;
}

.two {
}

.menu-style {
  display: flex;
}

.jumbo-img-1 {
  width: 150px;
}

.jumbo-new-img {
  height: 80vh;
}

.header-1 {
  /* width: 100%; */
  font-size: 3rem;
  letter-spacing: -0.015em;
  color: #0a086a;
}

.jumbo-down-btn {
  border: none;
  margin-top: 1rem;
  width: 192px;
  height: 52px;
  background: #0a086a;
  border-radius: 6px;
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: -0.015em;
  color: #ffffff;
}

.navbar-brand img {
  margin-right: 1rem;
}

.btn-nav {
  color: #0a086a;
}

.navbar-brand span {
  font-weight: 700;
}

.second-section {
  /* height: 500px; */
  background: linear-gradient(to bottom right, #e95ab9, #2952a9, #100170);
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.015em;
  color: #ffffff;
  letter-spacing: -0.015em;
}

.second-sec-content {
  justify-content: center;
  align-items: center;
}

.sec-head-3 {
  font-family: "Fira Sans";
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: -0.015em;
  color: #ffffff;
}

.sec-paragraph {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: rgba(255, 255, 255, 0.8);
}

.third-section {
  background: #efefef;
  height: 28rem;
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  /* line-height: 92px; */
  letter-spacing: -0.015em;
  color: #0a086a;
}

.third-sec-container {
  display: block;
  padding-top: auto;
}

.third-sec-container p {
  font-family: "Fira Sans" !important;
  font-weight: 500 !important;
}

.forth-section {
  background: linear-gradient(to bottom right, #93f0ea, #fba7d0);

  /* background-image: url(../public/img/meshONE.png);
  background-repeat: no-repeat;
  background-position: center; */
  /* background-size: cover; */
}

.forth-sec-content {
  padding-top: 3rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forth-sec-btn {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500 !important;
  border: none;
  background: #0a086a;
  border-radius: 6px;
  font-family: "Fira Sans";
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  /* identical to box height */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.015em;
  color: #ffffff;
  padding: 0.6rem 1.5rem;
}

.forth-cont-paragraph {
  font-family: "Fira Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 2rem;
  /* line-height: 92px; */
  letter-spacing: -0.015em;
  color: #0a086a;
}

.fift-section-cont {
  padding: 3rem 0 2rem 0;
  display: flex;
  justify-content: space-between;
}

.fift-section-p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
}

.fift-sect-1-btn {
  border: none;
  padding: 0.6rem 1.5rem;
  background: #18a0fb;
  border-radius: 6px;
  margin-right: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  letter-spacing: -0.015em;
  color: #ffffff;
}

.fift-sect-2-btn {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  padding: 0.6rem 1.5rem;
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #18a0fb;
  border-radius: 6px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  color: #18a0fb;
}

.mobile-menu {
  display: none;
  font-size: 2rem;
}

#desktop-nav {
  display: flex;
}

.mb-one {
  display: none;
  width: 0px;
  height: 0px;
}

.mb-icon {
  display: none;
}

.desktopnav-class button {
  display: flex !important;
}

.sixth-sec p {
  font-weight: 700 !important;
}

/* footer */
.sectionNewOne {
  background: #100170;
  padding: 1rem 0rem;
}

.moo {
  flex-wrap: wrap;
  width: 100%;
  gap: 2rem;
}

.footerLogo .TrendUppLight {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.footerSocial {
  margin-left: 1rem;
}

.footerSocial h2,
.footerService h2,
.footerActivity h2 {
  color: #ffffff;
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 32px;
  line-height: 24px;
  letter-spacing: -0.015em;
}
.footerSubscribe h2 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 32px;
  line-height: 24px;
  letter-spacing: -0.015em;
  color: #d7176f;
}

.footerSubscribeInput {
  width: 520px;
  height: 70px;
  background-color: #ffffff;
  /* background: rgba(255, 255, 255, 0.8); */
  border-radius: 12px;
  display: flex;
}

.footerSubscribeInput input {
  flex-basis: 70%;
  border-radius: 12px;
  border: none;
  outline: none;
  padding-left: 0.7rem;
}
.footerSubscribeInput input::placeholder {
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: -0.015em;
  color: #313030;
  /* padding-left: 1rem; */
}

.footerSubscribeInput span {
  flex-basis: 30%;
  background: #d7176f;
  border-radius: 12px;
  font-weight: 700;
  font-size: 32px;
  line-height: 24px;
  letter-spacing: -0.015em;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  */
.TrendUppLight p,
.footerLogoDetails p,
.footerSocialDetails p,
.footerService p,
.footerActivity p {
  color: #ffffff;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.015em;
}

.footerCopyRight {
  text-align: center;
}

.footerCopyRight p {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.015em;
  color: #ffffff;
  margin-top: -5px;
  padding-top: 0;
}

.sectionReview {
  background: #ffd7e8;
  min-height: 500px;
  padding: 6rem 0;
  display: flex;
  align-items: center;
}
.sectionReview > div {
  align-items: center;
}

.reviewCards {
  flex-basis: 33.333%;
  height: 200px;
  border: #e3e3e3;
  border-radius: 5px;
  padding: 1.5rem;
  text-align: center;
  /* margin: 4rem 0; */
}

.reviewProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reviewImg {
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

.spanR1 {
  font-weight: 700;
  font-size: 1.4rem;
}

.spanR2 {
  font-weight: 300;
  font-size: 1rem;
}

.reviewColor-1 {
  background: #ffffff;
}

.reviewColor-2 {
  background-color: #ff0084;
  transform: scale(1.081, 1);
  margin-bottom: 25px;
}

.reviewColor-3 {
  background: #ffffff;
  padding-left: 1.8rem;
}

/* Media Query */

@media screen and (max-width: 1200px) {
  .moo {
    gap: 2rem;
  }

  .footerLogo {
    flex-basis: 30%;
  }
  .footerSocial {
    flex-basis: 30%;
  }
  .footerService {
    flex-basis: 30%;
  }
  .footerActivity {
    flex-basis: 30%;
  }
  .footerSubscribe {
    flex-basis: 30%;
  }
}

@media screen and (max-width: 800px) {
  .navbar > .container-fluid {
    flex-wrap: nowrap !important;
    justify-content: unset;
  }

  .menu-style a:not(:last-child) {
    font-size: 10px;
  }

  .menu-style a:last-child {
    font-size: 11px;
  }

  .nav-main-container {
    flex-wrap: nowrap;
    justify-content: unset;
  }

  .header-1 {
    font-size: 1.3rem;
  }

  .one {
    margin-left: 1rem;
  }

  .sec-head-3 {
    font-size: 1.3rem;
  }

  .email-segment {
    width: 290px;
    height: 35px;
  }

  .email-input {
    flex-basis: 60%;
    padding-left: 5px;
    font-size: 15px;
    line-height: 15px;
  }

  .email-btn {
    font-size: 12px;
    flex-basis: 35%;
  }

  .icon-app-btn {
    width: 200px;
    height: auto;
  }
  .icon-app-btn img {
    width: 100%;
    height: auto;
    margin-top: 0px !important;
  }

  .sec-paragraph {
    font-size: 0.8rem;
  }

  .sec-img {
    padding-right: 1rem;
  }

  .third-section {
    height: 24rem;
    margin-top: -0.2rem;
  }

  .third-sec-container {
    font-family: "Fira Sans";
  }

  .third-sec-container p {
    font-family: "Fira Sans";
    margin: 1rem;
  }
  .second-section {
    height: 20rem;
    padding-top: 2.5rem;
  }
  .third-sec-container p {
    font-size: 1.2rem;
  }

  .jumbo-down-btn {
    height: 36px;
    font-size: 15px;
    width: 190px;
  }

  .navbar-brand img {
    /* margin-left: -1rem; */
  }

  .forth-cont-paragraph {
    font-size: 1rem;
    margin-right: 4rem;
    width: 17rem;
  }

  .forth-sec-img {
    max-width: 80%;
  }

  .fift-section-p {
    font-size: 1rem;
    line-height: 20px;
  }

  .fift-sect-1-btn {
    margin-right: -5rem;
    font-size: 15px;
    line-height: 12px;
  }

  .fift-sect-2-btn {
    margin-top: 1rem;
    /* margin-right: -5rem; */
    font-size: 15px;
    line-height: 12px;
  }

  .sixth-sec {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
  }

  .sixth-sec p {
    padding: 0.6rem;
  }

  .jumbo-new-img {
    height: 60vh;
  }

  /* input */

  .footerSubscribeInput {
    width: 500px;
    height: 70px;
  }

  .footerSubscribeInput input {
  }
  .footerSubscribeInput input::placeholder {
    font-size: 18px;
  }

  .footerSubscribeInput span {
    font-size: 22px;
  }

  /* review */
  .sectionReview > div {
    flex-direction: column;
    gap: 2rem;
  }

  .reviewCards {
    min-height: 200px;
  }

  .reviewColor-2 {
    transform: scale(1, 1);
    margin-bottom: 0px;
  }
  .footerSocial {
    margin-left: 0rem;
  }
}
/* max of 600 */

@media screen and (max-width: 600px) {
  /*  */
  #desktop-nav {
    display: none;
  }

  .close-mb {
    position: absolute;
    top: 35px;
    right: 50px;
  }

  .mb-icon {
    display: block;
    margin-left: auto;
    margin-top: 0.5rem;
    margin-right: 3rem;
    font-size: 30px;
    font-weight: 800;
    color: #030039;
  }

  #mobile {
    display: flex;
  }

  .mb-one {
    position: absolute;
    top: 0px;
    right: -23px;
    z-index: 10;
    padding: 1rem 0;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background: #ffffff;
    color: #000000;
    min-width: 85vw;
    min-height: 58vh;
    clip-path: polygon(
      50% 0%,
      100% 0,
      100% 35%,
      100% 100%,
      81% 100%,
      56% 100%,
      25% 93%,
      6% 74%,
      11% 46%,
      0 0
    );
  }

  .mb-one a {
    text-decoration: none;
    color: #030039;
  }

  .one {
    order: 1;
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
    margin-top: -1rem;
    margin-left: 1rem;
  }
  .two {
    /* order: 1; */
    width: 97%;
  }

  .jumbo-new-img {
    width: 90%;
    height: auto;
    margin-left: 0rem;
  }

  .dropdown {
    padding: 1px 5px;
  }

  .header-1 {
    font-size: 2rem;
  }
  .jumbo-new-img {
    margin-left: -1rem;
  }

  .forth-sec-btn {
    padding: 4px 6px;
  }

  .forth-cont-paragraph {
    width: 30rem;
    margin: 0 1.5rem;
  }

  .forth-sec-img {
    max-width: 100%;
  }
  .p-last {
    font-size: 0.6;
  }

  /* input */

  .footerSubscribeInput {
    width: 350px;
    height: 50px;
    /* margin-left: -15px; */
  }

  .footerSubscribeInput input {
  }
  .footerSubscribeInput input::placeholder {
    font-size: 18px;
  }

  .footerSubscribeInput span {
    font-size: 20px;
  }

  .footerSubscribe h2 {
    font-size: 26px;
  }
}

/* max of 450px */

@media screen and (max-width: 450px) {
  .mb-icon {
    margin-right: 1rem;
  }

  .header-1 {
    font-size: 1.5rem;
  }

  .email-segment {
    width: 276px;
    height: 37px;
  }

  .jumbo-new-img {
    width: 95%;
  }

  .btn-nav {
    padding: 1px 5px;
  }

  .nav-main-container {
    flex-wrap: nowrap;
    /* padding-left: 0;
    width: 90%; */
  }

  .sec-head-3 {
    font-size: 1.3rem;
    line-height: 19px;
  }

  .sec-paragraph {
    padding-top: 3px;
    /* font-size: 1rem; */
    line-height: 20px;
  }

  .sec-img {
    padding-right: 0.2rem;
    max-width: 120%;
  }

  .jumbo-down-btn {
    height: 30px;
    font-size: 13px;
    width: 150px;
  }

  .navbar-brand img {
    width: 200px;
  }

  .forth-cont-paragraph {
    font-size: 1rem;
    margin-right: 2rem;
    width: 40rem;
  }

  /* .forth-sec-img {
        max-width: 80%;
    } */

  .fift-section-cont {
    flex-direction: column;
    align-items: center;
  }

  .fift-section-p {
    font-size: 1rem;
    line-height: 26px;
    padding-left: 10px;
  }

  .fift-sect-1-btn {
    margin: 1rem;
    /* font-size: 15px;
        line-height: 12px; */
  }

  .email-segment {
    width: 260px;
    height: 37px;
    margin-left: 1.2rem;
  }

  .icon-app-btn img {
    margin-left: 2.5rem;
  }
  /* input */
  .footerSubscribeInput {
    width: 300px;
    height: 45px;
    /* margin-left: -15px; */
    font-size: 14px;
  }
  .footerSubscribeInput input {
    flex-basis: 72%;
  }
  .footerSubscribeInput input::placeholder {
    font-size: 13px;
  }

  .footerSubscribeInput span {
    flex-basis: 28%;
    font-size: 15px;
  }
}

@media screen and (max-width: 350px) {
  .footerSubscribeInput {
    width: 277px;
    height: 42px;
  }
}
