body {
  margin: 0;
  font-family: "Fira Sans", "Montserrat", sans-serif;
  /* font-family: , sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.first-section {
  height: 40rem;
  background: linear-gradient(to bottom right, #dbf0fc, #ffdcec);
}

.list-flex {
  margin: 0 auto;
  gap: 1rem;
  width: 900px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  color: white;
}

.circle1 {
  width: 250px;
  height: 250px;
  background-color: #ef0066;
  border-radius: 50%;
  /* margin: 2rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 700;
}

/* Media Query */
@media screen and (max-width: 1000px) {
  .list-flex {
    width: 700px;
    padding-top: 2rem;
  }

  .circle1 {
    width: 200px;
    height: 200px;
    font-size: 1rem;
    font-weight: 700;
  }
}

@media screen and (max-width: 760px) {
  .list-flex {
    width: 500px;
    padding-top: 0;
  }

  .circle1 {
    width: 180px;
    height: 180px;
    font-size: 1rem;
    font-weight: 700;
  }
}

@media screen and (max-width: 600px) {
  .first-section {
    height: 35rem;
  }

  .list-flex {
    width: 400px;
    padding-bottom: 1rem;
  }

  .circle1 {
    width: 150px;
    height: 150px;
    font-size: 1rem;
    font-weight: 700;
  }
}

@media screen and (max-width: 400px) {
  .first-section {
    height: 32rem;
  }

  .list-flex {
    width: 300px;
  }

  .circle1 {
    width: 120px;
    height: 120px;
    font-size: 1rem;
    font-weight: 700;
  }
}

/* Menu Links */
.menu-style {
  display: flex;
  align-items: center;
}

.menu-style a {
  text-decoration: none;
  margin: 1rem;
}
.menu-style a:not(:last-child) {
  color: #0a086a;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.015em;
}
.menu-style a:last-child {
  color: #ffffff;
  background-color: #575fee;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.015em;
  padding: 3px 15px;
  border-radius: 5px;
}

/* End of Menu Links */

/* Email Input Segment */

.email-segment {
  margin: 2rem 0;
  width: 491px;
  height: 49px;
  background: #ffffff;
  border-radius: 15px;
  display: flex;
}

.email-input {
  flex-basis: 65%;
  outline: none;
  border: none;
  border-radius: 15px;
  padding-left: 10px;
  font-weight: 500;
  font-size: 17px;
  line-height: 18px;
}

.email-input::placeholder {
  padding-left: 10px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.015em;
  color: #b5b5b5;
}

.email-btn {
  flex-basis: 35%;
  border-radius: 15px;
  border: none;
  outline: none;
  background-color: #36086a;
  color: #ffffff;
  /* padding-right: 5px; */
}
